html {
    font-family: "Montserrat", sans-serif;
    /* scroll-behavior: smooth; */
}
:root {
    --primary: #ee4780;
    --secondary: #782b81;
    --light: #f8f2b2;
}
.bg-primary {
    background-color: var(--primary);
}
.bg-secondary {
    background-color: var(--secondary);
}
.text-primary {
    color: var(--primary);
}
.text-secondary {
    color: var(--secondary);
}
.bg-light {
    background-color: var(--light);
}
.text-light {
    color: var(--light);
}

a {
    border: none;
    outline: none;
    text-decoration: none;
}

/* .container {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
} */
.shades {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: absolute;
    border-radius: 50%;
    animation: floatBlob 9s ease-in-out infinite alternate;
    will-change: transform;
}

.primary-shade {
    /* background-color: var(--primary); */
    top: -27%;
    left: -23%;
    z-index: 0;
    animation-duration: 9.2s;
}
.secondary-shade {
    /* background-color: var(--secondary); */
    top: -22%;
    right: -26%;
    z-index: 1;
    animation-duration: 8.8s;
}
.primary-shade-b {
    bottom: -23%;
    right: -27%;
    top: unset;
    left: unset;
    animation-duration: 9.4s;
}
.secondary-shade-b {
    bottom: -38%;
    left: -27%;
    top: unset;
    right: unset;
    animation-duration: 6.6s;
}
@media (min-width: 1024px) {
    @keyframes floatBlob {
        0% {
            transform: translate(0%, 0%) rotate(0deg) scale(1);
        }
        25% {
            transform: translate(8%, -5%) rotate(90deg) scale(1.05);
        }
        50% {
            transform: translate(-2%, -5%) rotate(180deg) scale(1.02);
        }
        75% {
            transform: translate(0%, 0%) rotate(270deg) scale(1.03);
        }
        100% {
            transform: translate(3%, 3%) rotate(360deg) scale(1.1);
        }
    }
}

@media (max-width: 1023.98px) {
    @keyframes floatBlob {
        0% {
            transform: translate(0%, 0%) rotate(0deg) scale(1);
        }
        25% {
            transform: translate(3%, 0%) rotate(45deg) scale(1.05);
        }
        50% {
            transform: translate(-5%, 3%) rotate(90deg) scale(1);
        }
        75% {
            transform: translate(3%, 3%) rotate(135deg) scale(1.03);
        }
        100% {
            transform: translate(-5%, -3%) rotate(180deg) scale(1);
        }
    }
}

.header-line {
    animation: growLine 1.4s ease-in;
}
@keyframes growLine {
    0% {
        width: 0%;
        opacity: 0.4;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}
.service-text {
    animation: fadeText 0.8s ease-in;
}
@keyframes fadeText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.service-lists li a {
    line-height: 220%;
    transition: 0.4s;
}
.list-right {
    width: 100%;
    transform: scaleX(0);
    transform-origin: right center;
    opacity: 0;
    transition:
        transform 0.8s cubic-bezier(0.77, 0, 0.175, 1),
        opacity 0.4s ease;
    will-change: transform;
    padding-block: 24px;
}
.service-lists li:hover .list-right {
    transform: scaleX(1);
    opacity: 1;
}

.list-right .arrow-right {
    transform: translateX(0);
    transition: 0.3s;
    transition-delay: 0.58s;
    opacity: 0;
}
.list-right .list-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 1s cubic-bezier(0.7, 0, 0.5, 1);
}
.service-lists li:hover a {
    color: var(--light);
}

.service-lists li:hover .list-right {
    width: 100%;
    padding-block: 24px;
    opacity: 1;
    visibility: visible;
}
.service-lists li:hover .arrow-right {
    transform: translateX(28px);
    opacity: 1;
}
.service-lists li:hover .list-img {
    transform: translate(-50%, -50%) scale(2.4) rotate(-12deg);
}

@media (min-width: 1860px) {
    .service-section {
        padding-block: 240px;
    }
    .header-line {
        max-width: 592px;
    }
    .service-header h1 {
        font-size: 32px;
        line-height: 72px;
        letter-spacing: 12px;
    }
    .service-text {
        font-size: 40px;
        line-height: 56px;
        margin-top: 160px;
        max-width: 1540px;
    }
    .service-list-wrapper {
        margin-top: 160px;
    }
    .service-lists li a {
        font-size: 84px;
        line-height: 224%;
        gap: 60px;
        letter-spacing: 32px;
    }
    .list-right {
        padding-block: 28px;
    }
    .list-right .arrow-right {
        width: 130px;
        height: 130px;
    }
    .service-lists li:hover .arrow-right {
        transform: translateX(40px);
    }
    .list-right .list-img {
        max-width: 130px;
    }
}

@media (max-width: 1440px) {
    .service-lists li a {
        font-size: 64px;
        letter-spacing: 22px;
        gap: 28px;
    }
    .list-right .arrow-right {
        width: 80px;
        height: 80px;
    }
    .list-right .list-img {
        max-width: 80px;
    }
    .service-lists li {
        margin-bottom: 24px;
    }
}

@media (max-width: 1279.98px) {
    .service-section {
        padding-block: 130px;
    }
    .header-line {
        max-width: 360px;
    }
    .service-list-wrapper {
        margin-top: 76px;
    }
    .service-lists li {
        margin-bottom: 20px;
    }
    .service-lists li a {
        font-size: 54px;
        letter-spacing: 16px;
        gap: 80px;
        line-height: 220%;
    }
    .list-right .arrow-right {
        width: 60px;
        height: 60px;
    }
    .list-right .list-img {
        max-width: 60px;
    }
    .list-right {
        padding-block: 16px;
    }
    .service-lists li:hover .arrow-right {
        transform: translateX(24px);
        opacity: 1;
    }
    .service-lists li:hover .list-img {
        transform: translate(-50%, -50%) scale(2.5) rotate(-12deg);
    }
}

@media (max-width: 1180px) {
    .service-lists li a {
        gap: 40px;
    }
}
@media (max-width: 1099.98px) {
    .shades {
        width: 120%;
    }
    .primary-shade {
        top: -27%;
        left: -23%;
    }
    .secondary-shade {
        top: -28%;
        right: -36%;
    }
    .primary-shade-b {
        bottom: -28%;
        right: -40%;
        top: unset;
        left: unset;
    }
    .secondary-shade-b {
        bottom: -30%;
        left: -40%;
        top: unset;
        right: unset;
    }
    .service-lists li a {
        gap: 24px;
    }
}
@media (max-width: 1023.98px) {
    .shades {
        width: 125%;
    }
    .service-section {
        padding-block: 100px;
    }
    .header-line {
        max-width: 280px;
    }
    .service-lists li a {
        font-size: 40px;
        letter-spacing: 12px;
        gap: 60px;
        line-height: 240%;
    }
    .list-right .arrow-right {
        width: 40px;
        height: 40px;
    }
    .service-lists li:hover .arrow-right {
        transform: translateX(18px);
    }
    .list-right .list-img {
        max-width: 48px;
    }
}
@media (max-width: 860px) {
    .service-lists li a {
        gap: 20px;
    }
}

@media (max-width: 767.98px) {
    .service-section {
        background-color: #ee477f39;
    }
    .service-text {
        font-size: 20px;
        line-height: 36px;
    }
    .service-lists li a {
        font-size: 32px;
        letter-spacing: 8px;
        gap: 28px;
    }
}

@media (max-width: 639.98px) {
    .shades {
        width: 135%;
    }
    .service-section {
        padding-block: 80px;
    }
    .header-line {
        max-width: 180px;
    }
    .service-list-wrapper {
        margin-top: 60px;
    }
    .service-lists li {
        margin-bottom: 12px;
    }
    .service-lists li a {
        font-size: 24px;
        letter-spacing: 4px;
        gap: 12px;
        line-height: 340%;
    }
    .list-right .arrow-right {
        width: 20px;
        height: 20px;
    }
    .service-lists li:hover .arrow-right {
        transform: translateX(12px);
    }
    .list-right .list-img {
        max-width: 24px;
    }
    .list-right {
        padding-block: 12px;
    }
    .service-lists li:hover .list-img {
        transform: translate(-20%, -50%) scale(3.2) rotate(-12deg);
    }
}
@media (max-width: 575.98px) {
    .shades {
        width: 180%;
        aspect-ratio: 1 / 1.2;
    }
    .primary-shade {
        top: -25%;
        left: -50%;
    }
    .secondary-shade {
        top: -25%;
        right: -88%;
    }
    .secondary-shade-b {
        bottom: -35%;
        left: -80%;
        top: unset !important;
        right: unset;
    }
    .primary-shade-b {
        bottom: -28%;
        right: -80%;
        top: unset !important;
        left: unset !important;
    }
    .header-line {
        max-width: 105px;
    }
    .service-header h1 {
        font-size: 13px;
    }
    .service-text {
        font-size: 14px;
        line-height: 28px;
        margin-top: 40px;
    }
    .service-lists li a {
        font-size: 18px;
    }
}
@media (max-width: 345px) {
    .service-lists li:hover .list-img {
        transform: translate(-20%, -50%) scale(3) rotate(-12deg);
    }
}

.service-lists li:last-child {
    margin-bottom: 0;
}
#smooth-wrapper {
    overflow: hidden;
}
@media (min-width: 2100px) {
    .secondary-shade-b {
        bottom: -48%;
        left: -22%;
    }
    .service-lists li a {
        gap: 120px;
    }
    .service-text {
        font-size: 44px;
        line-height: 64px;
        max-width: 1610px;
    }
}
@media (min-width: 2400px) {
    .primary-shade {
        top: -40%;
        left: -20%;
    }
    .secondary-shade {
        top: -38%;
        right: -29%;
    }
    .secondary-shade-b {
        bottom: -55%;
        left: -30%;
        top: unset;
        right: unset;
    }
    .primary-shade-b {
        bottom: -28%;
        right: -24%;
        top: unset;
        left: unset;
    }
    .service-lists li a {
        gap: 140px;
    }
    .service-text {
        font-size: 52px;
        line-height: 80px;
        max-width: 1960px;
    }
}
@media (min-width: 1280px) and (max-width: 1340px) {
    .primary-shade-b {
        bottom: -18%;
        right: -27%;
    }
    .secondary-shade-b {
        bottom: -30%;
        left: -27%;
    }
}



